@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    border: 0;
}

body , html {
    /* border:  3px solid #3293f3; */
    color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100px;
    margin: 10px;
}
body{
    font-size: 70%;

}
h1, input::-webkit-input-placeholder, button {
    font-family: 'roboto', 'san-serif';
    transition:  all 0.3s ease-in-out ;

}
h1{
    height: 100px;
    width: 100%;
    font-size: 18px;
    background: #ffcccc;
    color: white;
    line-height: 150%;
    border-radius: 3px;
    box-shadow: 0px 2px 5px 1px rgba(48, 47, 47, 0.26);
 
}
form{
    box-sizing: border-box;
    width: 260px;
    margin: 100px auto 0;
    padding-bottom: 40px;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
}
form h1{
    box-sizing: border-box;
    padding: 20px;
}
input{
    margin: 40px 25px;
    width: 200px;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px #ffcccc ;
    transition: all 0.3s cubic-bezier(00.64,0.09,0.08,1);
    background:   linear-gradient(to bottom, rgba(25,25,25, ) #1abc9c 4%);
    background-size: 200px 100%;
    background-position: -200px 0;
    background-repeat: no-repeat;
    color: #0e6252;

}
input:focus, input:valid{
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}
input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder{
    color: #ffcccc;
    font-size:  11px;
    transform: translateY(-20px);
    visibility: visible !important;
}
button{
    border: none;
    background: #ffcccc;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 200px;
    color: white;
    margin-left: 25px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}
button :hover{
    transform: translateY(-3px);
    box-shadow: 0 6px 6px 0 rgba(0,0,0.2);

}